body {
  margin: 0;
  background-color: #eff1f5;
  color: #4c4f69;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.container {
  margin: 15px;
  padding: 10px;
  background-color: #e7e9ef;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "header header" "aside main" "footer footer";
  gap: 10px;
}

header {
  padding: 10px;
  background-color: #acb0be;
  border-radius: 10px;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}
header nav {
  justify-content: right;
}
header nav ul {
  display: inline-block;
}

nav ul {
  list-style: none;
}

main {
  padding: 10px;
  padding-left: 20px;
  background-color: #ccd0da;
  border-radius: 10px;
  grid-area: main;
}

aside {
  padding: 10px;
  background-color: #ccd0da;
  border-radius: 10px;
  grid-area: aside;
}
aside h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
aside ul {
  margin-top: 5px;
  padding-left: 15px;
}

footer {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acb0be;
  border-radius: 10px;
  grid-area: footer;
}
