body {
	background-color: #eff1f5;
	color: #4c4f69;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

.container {
	margin: 15px;
	padding: 10px;
	background-color: #e7e9ef;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;
	grid-template-areas:
	"aside nav"
	"aside main";
	gap: 10px;
}

header {
	margin-top: 15px;
	text-align: center;
	font-size: 1.25rem;
}

nav {
	padding: 10px;
	background-color: #acb0be;
	border-radius: 10px;
	grid-area: nav;
}

main {
	padding: 10px;
	padding-left: 20px;
	background-color: #ccd0da;
	border-radius: 10px;
	grid-area: main;
}

aside {
	padding: 10px;
	background-color: #ccd0da;
	border-radius: 10px;
	grid-area: aside;
}
