---
title: ikaleidoscope96
layout: grid.njk
---
<h1>Ya Boi's Website!</h1>
<p>
	"From freedom came elegence."</br>
	<img src="images/neocities-cat.png" width="200px" height="auto" alt="Penelope the Neocities cat">
</p>

<h2>Interests</h2>
<ul>
	<li> Art </li>
	<li> Computer Science </li>
	<li> <a href="https://www.linux.com/what-is-linux">Linux</a> </li>
	<li> Microbiology </li>
</ul>

<h3>Speaking Of Websites</h3>
<b><a href="https://info.cern.ch">The very first website!!</a></b>
