---
title: Threejs
layout: grid.njk
threejs: true
---
{% block head %}
<style>
.threejs-container {
	display: flex;
	justify-content: center;

}
.threejs {
	aspect-ratio: 4/3;
	width: 75%;
	display: block;
}
</style>
{% endblock %}

<h1> {{ title }} </h1>

<h2>The Humble Green Cube</h2>

<div class="threejs-container">
	<canvas class="threejs" id="cube"></canvas>
	<script type="module" src="../js/cube.js"></script>
</div>
</br>

<h2>A Simple Cyan Line</h2>

<div class="threejs-container">
	<canvas class="threejs" id="line"></canvas>
	<script type="module" src="../js/line.js"></script>
</div>
</br>
