<!doctype html>
<html lang="{{ metadata.language | default('en') }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		{% if mathjax %}
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
		{% endif %}
		{% block head %}{% endblock %}
		{% if not stylecss %}
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		{% endif %}
	</head>
	<body>
		{% block body %}
			{{ content | safe }}
		{% endblock %}

	</body>
</html>
