<!doctype html>
<html lang="{{ metadata.language | default('en') }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    {% if threejs %}
      {% set version = "v0.184.0" %}
      <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@{{ version }}/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@{{ version }}/examples/jsm/"
        }
      }
      </script>
    {% endif %}
    {% if mathjax %}
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    {% endif %}
    {% block head %}{% endblock %}
    {% block css %}
      <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {{ content | safe }}
    {% endblock %}
  {% block js %}{% endblock %}
  </body>
</html>
