{% extends "./base.njk" %}

{% block body %}
	<div class="container">
		<header>
			<a href="/">
				<img src="/images/kale.png" alt="Sparkling vegetable emoji" width=60px height=auto/>
			</a>
			<nav>
				<a href="/">Home</a>
				<a href="/threejs/">Threejs</a>
				<a href="/latex/">Latex</a>
				<a href="/pokeapi/">Pokeapi</a>
			</nav>
		</header>

		<aside class="table-of-contents">
			<h2>Contents</h2>
			<nav class="table-of-contents">
				<ul class="table-of-contents">
				</ul>
			</nav>
		</aside>

		<main>
			{{ super() }}
		</main>

		<footer>
			<a href="https://github.com/ikaleidoscope96/neocities">
				<img alt="Static badge to github repo"
				src="https://img.shields.io/badge/github-repo-green?logo=github">
			</a>
		</footer>
	</div>
{% endblock %}

{% block script %}
	<script src="/js/contents.js"></script>
{% endblock %}
